@import '../../styles/variables.scss';

.hero{
    &__container {
        height: 100vh;
        box-sizing: border-box;;
        position: relative;
        z-index: 0;
        padding-top: 51px;

        .socials {
            &__container{
                position: absolute;
                right: 20px;
                bottom: 30px;
                font-size: 20px;

                z-index: 1;
                display: flex;
                align-items: flex-end;
            }
            
            &__item {
                padding: 0 10px;

                transition: font-size .2s;

                &:hover {
                    font-size: 40px;
                    color: #fff;
                }
            }
        }
    }

    &__text {
        padding: 15px 20px;
        background-color: rgba(0,0,0,0.6);
        position: absolute;
        bottom: 40%;
        left: 50%;
        transform: translate(-50%, 50%);
        color: $font-color-secondary;
        line-height: 1.4;
        width: 80%;
        max-width: 800px;

        z-index: 1;
            @media screen and (max-width : 500px) {
                    bottom: 50%;
            }
    }

    &__author {
        display: block;
        text-align: right;
        font-size: 12px;
        font-style: italic;
    }

    &__scrollDown {
        height: 25px;
        position: absolute;
        
        z-index: 3;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);  

        animation: jump 4s infinite;

        cursor: pointer;
    }
}

@keyframes jump {
    0%, 10%, 20%, 100% {
        transform: translateX(-50%) translateY(-10px)
    }
    5%, 15% {
        transform: translateX(-50%) translateY(0px)
    }
}