@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import './variables';

p {
    color: $font-color-primary;
}

body {
    background-color: $lightgray;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

section {
    max-width: 1200px;
    padding: 30px 40px 10px;
}

a {
    color: $font-color-primary;
    display: inline-block;

}

a.button {
    text-transform: uppercase;
    background-color: $background-color-primary;
    border: 1px solid $gray;
    text-decoration: none;
    font-weight: bold;
    transition: background-color .1s;

    &:hover {
        background-color: darken($background-color-primary, 10%)
    }
}

