@import '../../styles/variables.scss';

.projects{
    &__container {
        @extend .centeredContainer;
            padding: 30px 40px;
    }

    &__heading {

    }

    &__tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}