@import '../../variables.scss';

.jobs{
    &__container {
        max-width: none;
        margin: 0;
        padding: 0;
        text-align: center;

        p {
            line-height: 1.2;
            display: block;
        }
    }

    &__heading {
        margin: 0;
        font-size: 26px;
        font-weight: bold;
    }

    &__subheading {
        font-size: 22px;        
    }

    &__buttonJobs {
        margin: 30px 0 0;
        padding: 10px 40px;
        font-size: 24px;
    }

    &__text {
        @extend .centeredContainer;

        margin: 60px auto;
    }
}