@import '../../styles/variables.scss';

.jobs{
    &__container {
        max-width: none;
        margin: 0 0 80px;
        padding: 0;
        text-align: center;

        p {
            line-height: 1.6;
            display: block;
        }
    }

    &__headingContainer {
        @extend .centeredContainer;
        text-align: left;    
    }

    &__heading {
        margin-bottom: -20px !important;
        position: relative;
        z-index: 1;
        border: 2px solid #fff;
    }

    &__adHeading {
        margin: 0;
        font-size: 32px;
        font-weight: bold;
    }

    &__adSubheading {
        font-size: 24px;        
    }

    &__buttonJobs {
        padding: 10px 40px;
        font-size: 24px;
        margin: 0 40px;
    }

    &__advertisement {
        @extend .centeredContainer;

        margin: 80px auto 40px;
        text-align: center;
    }
}